<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>ToDo List</title>
</head>
<body>
    <%-include ("partials/header.ejs")%>
    <div class="main-content">
        <%- include ("partials/sidebar.ejs")%>
        <div class="root">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum autem pariatur molestias doloribus beatae, fugit ab laboriosam voluptas nobis consequuntur, culpa molestiae asperiores. Natus qui neque, ex ratione nisi dignissimos?
        </div>
    </div>
    <%-include ("partials/footer.ejs")%>
    <script src="/js/script.js"></script>
</body>
</html>