html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    background-color: wheat;
}
.main-content {
    display: flex;
    flex: 1;
    min-height: 0;
}
header, footer{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 6rem;
}
.sidebar {
    width: 20%;
    min-width: 180px;
    background: #eee;
    height: auto;
    padding: 2rem 1rem;
}
.root {
    flex: 1;
    padding: 2rem;
    background: transparent;
}